:root {
    --cor-fundo: #0d020e;
    --cor-principal: #e20b0b ;
    --cor-secundaria: #18181a;
    --cor-destaque: #2a2e2a;
    --cor-texto: #e14115;
  }
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
  }